﻿@model VoteCount.Models.Admin

@{
    ViewBag.Title = "Add User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index","Home")">Home</a>
            </li>
            <li class="active">Add Admin</li>
        </ul><!-- /.breadcrumb -->

    </div>

    <div class="page-content">
        
        <div class="row">
            <div class="col-sm-offset-3 col-sm-6">
                <div class="widget-box">
                    <form action="@Url.Action("AddAdmin","Home")" method="post">
                        <div class="widget-header">
                            <h4 class="widget-title">Add User</h4>

                            <span class="widget-toolbar">


                                <a href="#" data-action="collapse">
                                    <i class="ace-icon fa fa-chevron-up"></i>
                                </a>

                                <a href="#" data-action="close">
                                    <i class="ace-icon fa fa-times"></i>
                                </a>
                            </span>
                        </div>

                        <div class="widget-body">
                            <div class="widget-main">
                                <label for="id-date-picker-1">User Name</label>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        @if (ViewBag.error == null)
                                        {
                                            /**/
                                        }
                                        else
                                        {
                                            <label class="text-danger">@ViewBag.error</label>
                                        }
                                        
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <input onkeydown="return trim(this)" onchange="ValidateName()" id="name" class="form-control" type="text" name="Name" required/>
                                        <label id="msg"></label>
                                    </div>
                                </div>

                                <div class="space space-8"></div>

                                <label for="id-date-picker-1">Password</label>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <input onchange="return trim(this)" class="form-control" type="password" name="Password" required/>
                                    </div>
                                </div>

                                <div class="space space-8"></div>

                                <label for="id-date-picker-1">Role</label>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <select class="form-control" name="Role" required>
                                            <option selected value=""> Select Role</option>
                                                <option value="1"> Admin</option>
                                                <option value="2"> Contributor</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="space space-8"></div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <input type="submit" class="btn btn-success" id="btnSubmit"/>
                                    </div>
                                </div>

                                <div class="space space-8"></div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>
</div>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
<script>
    function ValidateName() {
        var name = document.getElementById('name').value;
        $.ajax({
            dataType: "json",
            type: "POST",
            url: 'validateName',
            data: { Name: name},
            //traditional: true,
            success: function (response) {
                if (response == 0) {
                    $("#msg").html("Name already exist, please try another one!");
                    $("#msg").addClass("text-danger");
                    $(':input[type="submit"]').prop('disabled', true);
                } else {
                    $("#msg").removeClass("text-danger");
                    $("#msg").addClass("text-success");
                    $("#msg").html("Congrates, Name is available.");
                    $(':input[type="submit"]').prop('disabled', false);
                    return trim(this);
                    }
            },
            error: function (response) { alert('Error'); }

        });
    }

    $("#name").on({
        keydown: function (e) {
            if (e.which === 32)
                return false;
        },
        change: function () {
            this.value = this.value.replace(/\s/g, "");
        }
    });
</script>