﻿@model VoteCount.Models.DataTable
@{
    ViewBag.Title = "EditData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="~/Content/dist/date-time-picker.min.js"></script>
<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index","Home")">Home</a>
            </li>
            <li class="active">Edit Data</li>
        </ul><!-- /.breadcrumb -->

    </div>

    <div class="page-content">

        <div class="row">
            <div class="col-sm-offset-3 col-sm-6">
                <div class="widget-box">
                    <form action="@Url.Action("EditData","Home")" method="post">
                        <div class="widget-header">
                            <h4 class="widget-title">K.I.S.S. - Keep It Simple Science!</h4>

                            <span class="widget-toolbar">


                                <a href="#" data-action="collapse">
                                    <i class="ace-icon fa fa-chevron-up"></i>
                                </a>

                                <a href="#" data-action="close">
                                    <i class="ace-icon fa fa-times"></i>
                                </a>
                            </span>
                        </div>



                        <div class="widget-body">
                            <div class="widget-main">
                                <label for="id-date-picker-1">Contributor</label>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <input onchange="return trim(this)" class="form-control" type="text" value="@Model.Author" name="Author" required />
                                    </div>
                                </div>

                                <div class="space space-8"></div>
                                <label for="id-date-picker-1">Skill</label>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <select name="Skill" required class="form-control">
                                            @if (Model.Skill == "")
                                            {
                                                <option selected value="">Choose your skill</option>
                                            }

                                            else
                                            {
                                                <option selected value="">Choose your skill</option>
                                            }
                                            @if (Model.Skill == "Motivation")
                                            {
                                                <option selected value="Motivation">Motivation</option>
                                            }
                                            else
                                            {
                                                <option value="Motivation">Motivation</option>
                                            }
                                            @if (Model.Skill == "Confidence")
                                            {
                                                <option selected value="Confidence">Confidence</option>
                                            }
                                            else
                                            {
                                                <option value="Confidence">Confidence</option>
                                            }
                                            @if (Model.Skill == "Grit")
                                            {
                                                <option selected value="Grit">Grit</option>
                                            }
                                            else
                                            {
                                                <option value="Grit">Grit</option>

                                            }
                                            @if (Model.Skill == "Resilience")
                                            {
                                                <option selected value="Resilience">Resilience</option>
                                            }
                                            else
                                            {
                                                <option value="Resilience">Resilience</option>
                                            }
                                            @if (Model.Skill == "Open-mindedness")
                                            {
                                                <option selected value="Open-mindedness">Open-mindedness</option>
                                            }
                                            else
                                            {
                                                <option value="Open-mindedness">Open-mindedness</option>
                                            }
                                            @if (Model.Skill == "Empathy")
                                            {
                                                <option selected value="Empathy">Empathy</option>
                                            }
                                            else
                                            {
                                                <option value="Empathy">Empathy</option>
                                            }
                                            @if (Model.Skill == "Gratitude")
                                            {
                                                <option selected value="Gratitude">Gratitude</option>
                                            }
                                            else
                                            {
                                                <option value="Gratitude">Gratitude</option>
                                            }
                                            @if (Model.Skill == "Goal focus")
                                            {
                                                <option selected value="Goal focus">Goal focus</option>
                                            }
                                            else
                                            {
                                                <option value="Goal focus">Goal focus</option>
                                            }
                                            
                                        </select>
                                    </div>
                                </div>
                                <div class="space space-8"></div>
                                <label for="id-date-picker-1">Maxim</label>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <input onchange="return trim(this)" class="form-control" type="text" value="@Model.Maxim" maxlength="180" name="Maxim" id="tip2" onkeyup="limitTextCount('tip2', 'divcount2', 180);" onkeydown="limitTextCount('tip2', 'divcount2', 180);" required="required" />
                                        <span id="divcount2"></span>
                                        <p class="text-danger" id="error"></p>
                                    </div>
                                </div>
                                <div class="space space-8"></div>
                                <label for="id-date-picker-1">Tags</label>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <input onchange="return trim(this)" class="form-control" type="text" value="@Model.Tags" name="Tags" />
                                    </div>
                                </div>

                                <div class="space space-8"></div>
                                <label for="id-date-picker-1">Citation-Title</label>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <input onchange="return trim(this)" class="form-control" type="text" value="@Model.Citation" name="Citation" required />
                                    </div>
                                </div>

                                <div class="space space-8"></div>
                                <label for="id-date-picker-1">Author Last Name</label>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <input onchange="return trim(this)" class="form-control" type="text" value="@Model.AuthorName" name="AuthorName" required />
                                    </div>
                                </div>

                                <div class="space space-8"></div>
                                <label for="id-date-picker-1">Date Of Published:</label>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <input class="form-control mt10px input" type="date" placeholder="dd/MM/yyyy" value="@Model.DatePublished.Value.ToString("yyyy-MM-dd")" id="J-demo-01" name="DatePublished" required />
                                        <script type="text/javascript">
                                            $('#J-demo-01').dateTimePicker();
                                        </script>                                    </div>
                                </div>

                                <div class="space space-8"></div>
                                <label for="id-date-picker-1">Tip-Self</label>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <input onchange="return trim(this)" class="form-control" maxlength="80" type="text" value="@Model.Tip" name="Tip" id="tip" onkeyup="limitTextCount('tip', 'divcount', 80);" onkeydown="limitTextCount('tip', 'divcount', 80);" />
                                        <span id="divcount"></span>
                                    </div>
                                </div>

                                <div class="space space-8"></div>
                                <label for="id-date-picker-1">Tip-Others</label>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <input onchange="return trim(this)" class="form-control" maxlength="80" type="text" value="@Model.Others" name="Others" id="tip1" onkeyup="limitTextCount('tip1', 'divcount1', 80);" onkeydown="limitTextCount('tip1', 'divcount1', 80);" />
                                        <span id="divcount1"></span>
                                    </div>
                                </div>

                                <div class="space space-8"></div>
                                <label for="id-date-picker-1">Youtube Link</label>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <input onchange="return trim(this)" class="form-control" type="text" value="@Model.Link" name="Link" />
                                    </div>
                                </div>


                                <div class="space space-8"></div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <input type="submit" class="btn btn-success" />
                                    </div>
                                </div>

                                <div class="space space-8"></div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    function Validate() {
        var cnic = document.getElementById('cnic').value;
        $.ajax({
            dataType: "json",
            type: "POST",
            url: 'CNICvalidate',
            data: { CNIC: cnic },
            success: function (response) {
                if (response == false) {
                    $("#error").html("CNIC already exist, try again!");
                    $("#error").addClass('text-danger');
                    $(':input[type="submit"]').prop('disabled', true);
                } else {
                    $("#error").removeClass("text-danger");
                    $("#error").addClass('text-success');
                    $("#error").html("Congrates, No matching CNIC found.");
                    $(':input[type="submit"]').prop('disabled', false);
                }
            },
            error: function (response) { alert(Error); }
        });
    };
    $('#cnic').keydown(function () {

        //allow  backspace, tab, ctrl+A, escape, carriage return
        if (event.keyCode == 8 || event.keyCode == 9
            || event.keyCode == 27 || event.keyCode == 13
            || (event.keyCode == 65 && event.ctrlKey === true))
            return;
        if ((event.keyCode < 48 || event.keyCode > 57))
            event.preventDefault();

        var length = $(this).val().length;

        if (length == 5 || length == 13)
            $(this).val($(this).val() + '-');

    }).jquery;

    function trim(el) {
        el.value = el.value.
            replace(/(^\s*)|(\s*$)/gi, ""). // removes leading and trailing spaces
            replace(/[ ]{2,}/gi, " ").       // replaces multiple spaces with one space
            replace(/\n +/, "\n");           // Removes spaces after newlines
        return;
    }
    function limitTextCount(limitField_id, limitCount_id, limitNum) {
        var limitField = document.getElementById(limitField_id);
        var limitCount = document.getElementById(limitCount_id);
        var fieldLEN = limitField.value.length;

        if (fieldLEN > limitNum) {
            limitField.value = limitField.value.substring(0, limitNum);
        }
        else {


            if ((limitNum - fieldLEN) <= 20) {
                limitCount.className = 'text-danger';
                limitCount.innerHTML = (limitNum - fieldLEN) + ' charachter(s) left.';
            }
            else {
                limitCount.className = 'text-success';
                limitCount.innerHTML = (limitNum - fieldLEN) + ' charachter(s) left.';
            }
        }
    }

    
    
</script>
