﻿@{
    ViewBag.Title = "Home Page";
}

<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Home</a>
            </li>
            <li class="active">Dashboard</li>
        </ul><!-- /.breadcrumb -->
    </div>

    <div class="page-content">

        <div class="page-header">
            <h1>
                Dashboard
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    overview &amp; stats
                </small>
            </h1>
        </div><!-- /.page-header -->

        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div class="alert alert-block alert-success">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="ace-icon fa fa-times"></i>
                    </button>

                    <i class="ace-icon fa fa-check green"></i>

                    Welcome to
                    <strong class="green">
                        Scott Dow Application
                        <small>(v1.0)</small>
                    </strong>,
                    developed by <strong><a href="http://www.ubssols.com">UBS Solutions.</a></strong>
                </div>

                <div class="row">
                    <div class="space-12"></div>

                    <div class="col-sm-12 infobox-container">
                        <div class="infobox infobox-green">
                            <div class="infobox-icon">
                                <i class="ace-icon fa fa-users"></i>
                            </div>

                            <div class="infobox-data">
                                <span class="infobox-data-number">@ViewBag.Users</span>
                                <div class="infobox-content">Number of Users</div>
                            </div>

                            
                        </div>

                        <div class="infobox infobox-blue">
                            <div class="infobox-icon">
                                <i class="ace-icon fa fa-database"></i>
                            </div>

                            <div class="infobox-data">
                                <span class="infobox-data-number">@ViewBag.Records</span>
                                <div class="infobox-content">Data Records</div>
                            </div>

                            
                        </div>


                        
                        <div class="space-6"></div>
                    </div>
                </div><!-- /.row -->

                @*<div class="hr hr32 hr-dotted"></div>*@
                <!-- PAGE CONTENT ENDS -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.page-content -->
</div>