﻿@model IEnumerable<VoteCount.Models.DataTable>
@{
    ViewBag.Title = "List Of Data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index","Home")">Home</a>
            </li>
            <li class="active">View Data Records</li>
        </ul><!-- /.breadcrumb -->

    </div>

    <div class="page-content">


        <div class="row">
            <div class="col-xs-12">
                <h3 class="header smaller lighter blue">MentalNotes Submissions</h3>

                <div class="clearfix">
                    <div class="pull-right tableTools-container"></div>
                </div>
                <div class="table-header">
                    Results for "MentalNotes Submissions"
                </div>

                <!-- div.table-responsive -->
                <!-- div.dataTables_borderWrap -->
                <div class="table-responsive">
                    <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Serial No.</th>
                                <th>Contributor</th>
                                <th>Skill</th>
                                <th>Maxim</th>
                                <th class="hidden-480">Tags</th>
                                <th>Citation-Title</th>
                                <th>Author</th>
                                <th>Published Date</th>
                                <th>Tip-Self</th>
                                <th>Tip-Others</th>
                                <th>Youtube Link</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Author</td>
                                    <td>@item.Skill</td>
                                    <td>@item.Maxim</td>
                                    <td>@item.Tags</td>
                                    <td>@item.Citation</td>
                                    <td>@item.AuthorName</td>
                                    @if (item.DatePublished == null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>@item.DatePublished.Value.ToString("dd/MM/yyyy")</td>
                                    }
                                    
                                    <td>@item.Tip</td>
                                    <td>@item.Others</td>
                                    <td>@item.Link</td>
                                    <td>
                                        <div class="hidden-sm hidden-xs action-buttons">
                                            @*<a class="blue" href="#">
                                            </a>*@

                                            <a class="green" href="@Url.Action("EditData","Home",new { Id=item.Id})">
                                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                                            </a>

                                            <a class="red" href="@Url.Action("DeleteData","Home",new { Id=item.Id})">
                                                <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- basic scripts -->
<!--[if !IE]> -->



<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<!-- <![endif]-->
<!--[if IE]>
<script src="assets/js/jquery-1.11.3.min.js"></script>
<![endif]-->
<script type="text/javascript">
    if ('ontouchstart' in document.documentElement) document.write("<script src='~/Content/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
</script>
@*<script src="~/Content/assets/js/jquery-2.1.4.min.js"></script>
<script src="~/Content/assets/js/bootstrap.min.js"></script>

<script src="~/Content/assets/js/jquery-2.1.4.min.js"></script>*@

<!-- page specific plugin scripts -->
<script src="~/Content/assets/js/jquery.dataTables.min.js"></script>
<script src="~/Content/assets/js/jquery.dataTables.bootstrap.min.js"></script>
<script src="~/Content/assets/js/dataTables.buttons.min.js"></script>
<script src="~/Content/assets/js/buttons.flash.min.js"></script>
<script src="~/Content/assets/js/buttons.html5.min.js"></script>
<script src="~/Content/assets/js/buttons.print.min.js"></script>
<script src="~/Content/assets/js/buttons.colVis.min.js"></script>
<script src="~/Content/assets/js/dataTables.select.min.js"></script>



<!-- ace scripts -->
<script src="~/Content/assets/js/ace-elements.min.js"></script>
<script src="~/Content/assets/js/ace.min.js"></script>

<!-- inline scripts related to this page -->
<script type="text/javascript">
    jQuery(function ($) {
        //initiate dataTables plugin
        var myTable = $('#dynamic-table').DataTable({
            bAutoWidth: true,

            "bSort": true,
            "bPaginate": true,
            "iDisplayLength": 10,
            "sPaginationType": "full_numbers"
        });


        $.fn.dataTable.Buttons.defaults.dom.container.className = 'dt-buttons btn-overlap btn-group btn-overlap';
        new $.fn.dataTable.Buttons(myTable, {
            buttons: [
                {
                    "extend": "copy",
                    "text": "<i class='fa fa-copy bigger-110 pink'></i> <span class='hidden'>Copy to clipboard</span>",
                    "className": "btn btn-white btn-primary btn-bold"
                },
                {
                    "extend": "csv",
                    "text": "<i class='fa fa-database bigger-110 orange'></i> <span class='hidden'>Export to CSV</span>",
                    "className": "btn btn-white btn-primary btn-bold"
                },
                {
                    "extend": "excel",
                    "text": "<i class='fa fa-file-excel-o bigger-110 green'></i> <span class='hidden'>Export to Excel</span>",
                    "className": "btn btn-white btn-primary btn-bold"
                },
                {
                    "extend": "pdf",
                    "text": "<i class='fa fa-file-pdf-o bigger-110 red'></i> <span class='hidden'>Export to PDF</span>",
                    "className": "btn btn-white btn-primary btn-bold"
                },
                {
                    "extend": "print",
                    "text": "<i class='fa fa-print bigger-110 grey'></i> <span class='hidden'>Print</span>",
                    "className": "btn btn-white btn-primary btn-bold",
                    autoPrint: false,
                    message: 'This print was produced using the Print button for DataTables'
                }
            ]
        });
        myTable.buttons().container().appendTo($('.tableTools-container'));
    });
</script>


